[package]
authors      = ["Seokju Na <seokju.me@gmail.com>"]
description  = "TBD"
edition      = "2021"
license      = "MIT"
name         = "webview-bundle"
repository   = "https://github.com/seokju-na/webview-bundle"
rust-version = "1.85.0"
version      = "0.0.0"

[lib]
bench   = false
doctest = false

[dependencies]
async-trait      = { workspace = true }
base64ct         = { workspace = true, optional = true }
bincode          = { workspace = true }
bytes            = { workspace = true, optional = true }
dashmap          = { workspace = true, optional = true }
ed25519-dalek    = { workspace = true, optional = true }
futures-util     = { workspace = true, optional = true }
http             = { workspace = true }
infer            = { workspace = true, optional = true }
lz4_flex         = { workspace = true }
opendal          = { workspace = true, optional = true }
p256             = { workspace = true, optional = true }
p384             = { workspace = true, optional = true }
percent-encoding = { workspace = true, optional = true }
reqwest          = { workspace = true, default-features = false, optional = true }
rsa              = { workspace = true, optional = true }
semver           = { workspace = true, optional = true }
serde            = { workspace = true, optional = true }
serde_json       = { workspace = true, optional = true }
serde_repr       = { workspace = true, optional = true }
sha3             = { workspace = true, optional = true }
thiserror        = { workspace = true }
tokio            = { workspace = true, optional = true }
twox-hash        = { workspace = true, features = ["serialize"] }
urlencoding      = { workspace = true, optional = true }

[dev-dependencies]
tiny_http = { workspace = true }
tokio     = { workspace = true, features = ["full"] }

[features]
_opendal = ["dep:opendal"]
_reqwest = ["dep:reqwest"]
_serde = ["dep:serde", "dep:serde_json", "dep:serde_repr"]
async = ["dep:tokio", "tokio/io-util", "tokio/rt", "tokio/rt-multi-thread", "tokio/fs", "tokio/sync"]
full = [
  "async",
  "integrity",
  "source",
  "protocol",
  "protocol-local",
  "updater",
  "remote",
  "remote-uploader-s3",
  "signature",
  "signature-ecdsa_secp256r1",
  "signature-ecdsa_secp384r1",
  "signature-edd25519",
  "signature-rsa_pkcs1_v1_5",
  "signature-rsa_pss",
]
integrity = ["_serde", "sha3", "base64ct", "base64ct/alloc"]
protocol = ["source", "dep:bytes", "dep:infer", "dep:percent-encoding"]
protocol-local = ["protocol", "_reqwest", "reqwest/rustls-tls", "reqwest/macos-system-configuration", "reqwest/charset"]
remote = [
  "async",
  "_reqwest",
  "_serde",
  "reqwest/rustls-tls",
  "reqwest/json",
  "reqwest/hickory-dns",
  "reqwest/stream",
  "dep:urlencoding",
  "dep:futures-util",
  "dep:opendal",
]
remote-uploader-s3 = ["remote", "_opendal", "opendal/services-s3"]
signature = []
signature-ecdsa_secp256r1 = ["dep:p256"]
signature-ecdsa_secp384r1 = ["dep:p384"]
signature-edd25519 = ["dep:ed25519-dalek", "ed25519-dalek/pem"]
signature-rsa_pkcs1_v1_5 = ["dep:rsa", "rsa/sha2"]
signature-rsa_pss = ["dep:rsa", "rsa/sha2", "rsa/getrandom"]
source = ["dep:dashmap", "async", "_serde", "dep:semver"]
updater = ["remote", "source"]

[lints.clippy]
module_inception = "allow"
