name: ci
on:
  pull_request:
concurrency:
  group: ci-${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true
env:
  LEFTHOOK: 0
jobs:
  format:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Setup Rust
        uses: ./.github/actions/rust-setup
        with:
          components: rustfmt
      - name: Setup Node.js
        uses: ./.github/actions/node-setup
      - run: yarn install
      - name: Run rustfmt
        run: cargo fmt --all --check
      - run: yarn install
      - name: Run taplo
        run: yarn taplo format --check
  lint:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Setup Node.js
        uses: ./.github/actions/node-setup
      - run: yarn install
      - name: Run biome
        run: yarn biome check
  test:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: test (${{ matrix.settings.host }}, ${{ matrix.settings.target }})
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-15-intel
            target: x86_64-apple-darwin
            build: |-
              yarn workspaces foreach -At run build-napi --target x86_64-apple-darwin &&
              yarn workspaces foreach -Apt --include='@wvb/*' run build
          - host: macos-latest
            target: aarch64-apple-darwin
            build: |-
              yarn workspaces foreach -At run build-napi --target aarch64-apple-darwin &&
              yarn workspaces foreach -Apt --include='@wvb/*' run build
          - host: windows-latest
            target: x86_64-pc-windows-msvc
            build: |-
              yarn workspaces foreach -At run build-napi --target x86_64-pc-windows-msvc &&
              yarn workspaces foreach -Apt --include='@wvb/*' run build
          - host: windows-latest
            target: aarch64-pc-windows-msvc
            build: |-
              yarn workspaces foreach -At run build-napi --target aarch64-pc-windows-msvc &&
              yarn workspaces foreach -Apt --include='@wvb/*' run build
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            docker: ghcr.io/seokju-na/webview-bundle/nodejs-rust:lts-debian
            build: >-
              rustup toolchain install 1.91.0 &&
              yarn &&
              yarn workspaces foreach -At run build-napi --target x86_64-unknown-linux-gnu &&
              yarn workspaces foreach -Apt --include='@wvb/*' run build &&
              yarn vitest run
          - host: ubuntu-latest
            target: x86_64-unknown-linux-musl
            docker: ghcr.io/seokju-na/webview-bundle/nodejs-rust:lts-alpine
            build: >-
              rustup toolchain install 1.91.0 &&
              yarn &&
              yarn workspaces foreach -At run build-napi --target x86_64-unknown-linux-musl &&
              yarn workspaces foreach -Apt --include='@wvb/*' run build &&
              yarn vitest run
          - host: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            docker: ghcr.io/seokju-na/webview-bundle/nodejs-rust:lts-debian-aarch64
            build: >-
              rustup toolchain install 1.91.0 &&
              rustup target add aarch64-unknown-linux-gnu &&
              yarn &&
              yarn workspaces foreach -At run build-napi --target aarch64-unknown-linux-gnu &&
              yarn workspaces foreach -Apt --include='@wvb/*' run build
          - host: ubuntu-latest
            target: aarch64-unknown-linux-musl
            docker: ghcr.io/seokju-na/webview-bundle/nodejs-rust:lts-alpine
            build: >-
              rustup toolchain install 1.91.0 &&
              rustup target add aarch64-unknown-linux-musl &&
              yarn &&
              yarn workspaces foreach -At run build-napi --target aarch64-unknown-linux-musl &&
              yarn workspaces foreach -Apt --include='@wvb/*' run build
    runs-on: ${{ matrix.settings.host }}
    env:
      DEBUG: 'napi:*'
      MACOSX_DEPLOYMENT_TARGET: '10.13'
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Setup Node.js
        uses: ./.github/actions/node-setup
        if: ${{ !matrix.settings.docker }}
      - name: Setup Rust
        uses: ./.github/actions/rust-setup
        if: ${{ !matrix.settings.docker }}
        with:
          targets: ${{ matrix.settings.target }}
      - run: yarn install
        if: ${{ !matrix.settings.docker }}
      - name: Run build
        if: ${{ !matrix.settings.docker }}
        run: ${{ matrix.settings.build }}
      - name: Free disk space
        if: ${{ matrix.settings.docker }}
        uses: ./.github/actions/free-disk-space
      - name: Run build & vitest
        uses: seokju-na/docker-run-action@stable
        if: ${{ matrix.settings.docker }}
        with:
          image: ${{ matrix.settings.docker }}
          options: '--user 0:0 -v ${{ github.workspace }}/.cargo-cache/git/db:/usr/local/cargo/git/db -v ${{ github.workspace }}/.cargo/registry/cache:/usr/local/cargo/registry/cache -v ${{ github.workspace }}/.cargo/registry/index:/usr/local/cargo/registry/index -v ${{ github.workspace }}:/build -w /build'
          run: ${{ matrix.settings.build }}
      - name: Run vitest
        if: ${{ !matrix.settings.docker && matrix.settings.host != 'windows-latest' }}
        run: yarn vitest run
  lint-rust:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Setup tauri for linux
        uses: ./.github/actions/tauri-linux-setup
      - name: Setup Rust
        uses: ./.github/actions/rust-setup
        with:
          components: clippy
      - name: Run clippy
        run: cargo clippy
  test-rust:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-15-intel
            target: x86_64-apple-darwin
          - host: macos-latest
            target: aarch64-apple-darwin
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - host: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - host: windows-latest
            target: x86_64-pc-windows-msvc
          - host: windows-latest
            target: aarch64-pc-windows-msvc
    runs-on: ${{ matrix.settings.host }}
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - if: ${{ matrix.settings.host == 'ubuntu-latest' }}
        name: Setup tauri for linux
        uses: ./.github/actions/tauri-linux-setup
      - name: Setup Rust
        uses: ./.github/actions/rust-setup
      - name: Run cargo test
        run: cargo test --workspace --no-fail-fast --all-features
  typecheck:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Setup tauri for linux
        uses: ./.github/actions/tauri-linux-setup
      - name: Setup Node.js
        uses: ./.github/actions/node-setup
      - name: Setup Rust
        uses: ./.github/actions/rust-setup
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # 3.0.0
      - run: yarn install
      - name: Run build
        run: just build
      - name: Run typecheck
        run: yarn workspaces foreach -Apt run typecheck
  attw:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Setup tauri for linux
        uses: ./.github/actions/tauri-linux-setup
      - name: Setup Node.js
        uses: ./.github/actions/node-setup
      - name: Setup Rust
        uses: ./.github/actions/rust-setup
      - run: yarn install
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # 3.0.0
      - name: Run attw
        run: just xtask attw --include='packages/*' --exclude='**/npm/*'
