name: release
on:
  push:
    branches:
      - "main"
    tags:
      - "prerelease"
      - "release"
permissions:
  attestations: write
  contents: write
  id-token: write
concurrency:
  group: release-${{ github.ref_name }}
env:
  LEFTHOOK: 0
jobs:
  build-napi:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-15-intel
            target: x86_64-apple-darwin
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target x86_64-apple-darwin
          - host: macos-latest
            target: aarch64-apple-darwin
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target aarch64-apple-darwin
          - host: windows-latest
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target i686-pc-windows-msvc
            target: i686-pc-windows-msvc
          - host: windows-latest
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target x86_64-pc-windows-msvc
            target: x86_64-pc-windows-msvc
          - host: windows-latest
            target: aarch64-pc-windows-msvc
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target aarch64-pc-windows-msvc
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target x86_64-unknown-linux-gnu --use-napi-cross
          - host: ubuntu-latest
            target: x86_64-unknown-linux-musl
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target x86_64-unknown-linux-musl -x
          - host: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target aarch64-unknown-linux-gnu --use-napi-cross
          - host: ubuntu-latest
            target: aarch64-unknown-linux-musl
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target aarch64-unknown-linux-musl -x
          - host: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target armv7-unknown-linux-gnueabihf --use-napi-cross
          - host: ubuntu-latest
            target: aarch64-linux-android
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target aarch64-linux-android
          - host: ubuntu-latest
            target: armv7-linux-androideabi
            build: yarn workspaces foreach -At --include='@wvb/*' run build-napi --target armv7-linux-androideabi
    runs-on: ${{ matrix.settings.host }}
    env:
      DEBUG: 'napi:*'
      MACOSX_DEPLOYMENT_TARGET: '10.13'
      CARGO_INCREMENTAL: '1'
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Setup Node.js
        uses: ./.github/actions/node-setup
      - name: Setup Rust
        uses: ./.github/actions/rust-setup
        with:
          targets: ${{ matrix.settings.target }}
          cache-key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.host }}
      - uses: mlugg/setup-zig@d1434d08867e3ee9daa34448df10607b98908d29 # 2.2.1
        if: ${{ contains(matrix.settings.target, 'musl') }}
        with:
          version: 0.14.1
      - name: Install cargo-zigbuild
        uses: taiki-e/install-action@288875dd3d64326724fa6d9593062d9f8ba0b131 # 2.67.30
        if: ${{ contains(matrix.settings.target, 'musl') }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tool: cargo-zigbuild
      - run: yarn install --immutable
      - name: Run build
        run: ${{ matrix.settings.build }}
        shell: bash
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # 3.0.0
      - name: Merge artifacts
        run: just xtask artifacts merge
      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # 6.0.0
        with:
          name: artifacts-${{ github.ref_name }}-${{ matrix.settings.host }}-${{ matrix.settings.target }}
          path: artifacts-merged
          if-no-files-found: error
  dry-run:
    runs-on: ubuntu-latest
    if: github.ref_type == 'branch'
    needs: build-napi
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          fetch-depth: '0'
      - name: Setup Node.js
        uses: ./.github/actions/node-setup
      - run: yarn install --immutable
      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # 7.0.0
        with:
          pattern: artifacts-${{ github.ref_name }}-*
          merge-multiple: true
          path: artifacts-merged
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # 3.0.0
      - name: Spread artifacts
        run: just xtask artifacts spread
      - name: Dry Run
        run: just xtask release --dry-run
  prerelease:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag' && github.ref_name == 'prerelease'
    needs: build-napi
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          fetch-depth: '0'
      - name: Setup tauri for linux
        uses: ./.github/actions/tauri-linux-setup
      - name: Setup Node.js
        uses: ./.github/actions/node-setup
      - run: yarn install --immutable
      - name: Setup Rust
        uses: ./.github/actions/rust-setup
      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # 7.0.0
        with:
          pattern: artifacts-${{ github.ref_name }}-*
          merge-multiple: true
          path: artifacts-merged
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # 3.0.0
      - name: Spread artifacts
        run: just xtask artifacts spread
      - name: Prerelease
        run: just xtask release --prerelease=next.${{ github.run_number }} --github-token=${{ github.token }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
  release:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag' && github.ref_name == 'release'
    needs: build-napi
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          fetch-depth: '0'
      - name: Setup tauri for linux
        uses: ./.github/actions/tauri-linux-setup
      - name: Setup Node.js
        uses: ./.github/actions/node-setup
      - run: yarn install --immutable
      - name: Setup Rust
        uses: ./.github/actions/rust-setup
      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # 7.0.0
        with:
          pattern: artifacts-${{ github.ref_name }}-*
          merge-multiple: true
          path: artifacts-merged
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # 3.0.0
      - name: Spread artifacts
        run: just xtask artifacts spread
      - name: Release
        run: just xtask release --github-token=${{ github.token }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
