name: website
on:
  push:
    branches:
      - "main"
  workflow_dispatch:
env:
  LEFTHOOK: 0
jobs:
  dev-deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Setup Node.js
        uses: ./.github/actions/node-setup
      - run: yarn install --immutable
      - name: Run dev deploy
        run: yarn workspace wvb-website run deploy:dev
  live-deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    steps:
      - name: Git checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Setup Node.js
        uses: ./.github/actions/node-setup
      - run: yarn install --immutable
      - name: Run dev deploy
        run: yarn workspace wvb-website run deploy
